extends base

block title
  | Login

block main
  h2 Please log in

  if message != ''
    .alert.alert-error= message

  form(action='/login', method='post')
    .form-group
      label(for='username') Username<br />
      input#username.form-control(name='username', type='text')

    .form-group
      label(for='username') Password<br />
      input#password.form-control(name='password', type='password')
  
    .form-group
      input.btn.btn-primary(type='submit', value='Log in')