body{padding-top:60px}
h1{margin-bottom:1em}
.navbar-inner.red{background-color:#cf1311;background-image:none;color:#fff;}
.navbar-inner.red a{color:#fff}
.bottom{position:fixed;bottom:0;width:100%}
.chat_panel{padding:8px}
#chat_input{width:80%}
.loader{margin:auto 50%}
small.timestamp{font-size:8pt;color:#808080}
article.system_event{color:#808080}
.master{color:#bb62cc}
.you{color:#008000}
#chat_box{max-height:775px;overflow-y:auto;margin-bottom:54px}
.room{margin-top:4px;margin-bottom:4px}
.room_title{font-weight:bold;font-size:15pt}
.join_room{margin-top:6px}
.npc{color:#59a6e2}
.widgets{list-style:none;display:none}
.widget{background:#eee;padding:0;border-radius:5px 5px 0 0}
.widget_header{background:#555;padding:2px 6px;color:#eee;border-radius:5px 5px 0 0}
.widget_content{height:100%;padding:6px}
.status{height:100%;outline:0 solid transparent}
