.bottom.chat_panel
    form#chat_form.form-inline
        input#chat_input(type='text', placeholder='Type here', disabled="disabled").form-control
        input(type='submit', value='Send')#chat_send.btn.btn-default