extends base

block title
    | Play room

block main
    if is_master
        p You are Master of this room
    #chat_box

block sidebar
    ul#player_list

block status
    .status(contenteditable="#{is_master}")
        != room.description
