extends base

block title
    | Play room

block main
    #chat_box
        | Send <strong>/help</strong> to list commands
        br
        a(href='javascript://')#request_history Request history

block list_players
    ul#player_list

block status
    #room_description(contenteditable="#{is_master}")
        != room.description

block notes
    textarea#notes.ckeditor
        != hero.notes

block hero
    textarea#hero_description.ckeditor
        != hero.description

block inventory
    #inventory
        ul
        each slot in hero.inventory
            li= slot.item.description

block mastery
    #mastery
        button.btn.btn-default Create item