extends base

block title
    | Play room

block main
    if is_master
        p You are Master of this room
    #chat_box
        | Send <strong>/help</strong> to list commands
        br
        a(href='javascript://')#request_history Request history

block list_players
    ul#player_list

block status
    #room_description(contenteditable="#{is_master}")
        != room.description

block notes
    #notes(contenteditable="true")
        != hero.notes

block hero
    #hero_description(contenteditable="true")
        != hero.description

block inventory
    #inventory
        ul
        each slot in hero.inventory
            li= slot.item.description

block mastery
    #mastery
        | nothing here