extends ../layout

block title
  | List rooms

block content
  
    .container
        .row
            h3
                | Rooms
                if req.user
                    button#new_room.btn.btn-primary.pull-right Add room
        each room in all_rooms
            .room.row.well 
                .col-11
                    .room_title= room.name
                    != 'Master: <strong>' + room.master.name + '</strong> (online: ' + room.online.length + ')'
                .col-1
                    if req.user
                        button.join_room.btn.btn-default.pull-right(data-room=room.name) Join
